<nav class="android-navigation mdl-navigation mdl-layout--large-screen-only">
  {% if user.is_authenticated %}
    <a 
      class="mdl-navigation__link mdl-typography--text-uppercase" 
      href="{% url 'curiosity:post-list' %}"
    >Интересное</a>
    <a 
      class="mdl-navigation__link mdl-typography--text-uppercase" 
      href="{% url 'curiosity:index' %}"
    >Панель управления</a>
    <a 
      class="mdl-navigation__link mdl-typography--text-uppercase" 
      href="/admin"
    >Админка</a>
    <a 
      class="mdl-navigation__link mdl-typography--text-uppercase" 
      href="{% url 'account_logout' %}"
    >Выйти</a>
  {% else %}
    <a 
      class="mdl-navigation__link mdl-typography--text-uppercase" 
      href="{% url 'curiosity:post-list' %}"
    >Интересное</a>
    <a 
      class="mdl-navigation__link mdl-typography--text-uppercase" 
      href="{% url 'account_login' %}"
    >Войти</a>
  {% endif %}
</nav>
  

