# Linux
gunicorn==19.5.0

# Stable version django
django>=1.11,<1.12

# cache
python-memcached
django-clear-cache

# Debug toolbar
django-debug-toolbar==1.11.1

# Project custom apps
django-split-settings
whitenoise==3.3.1
django-crispy-forms==1.7.2
parso==0.7.0

# Database drivers
psycopg2==2.7.3.1

# Curiosity
beautifulsoup4==4.8.0
bs4==0.0.1
dj-database-url==0.5.0
requests==2.22.0
urllib3==1.26.5
vk-api==11.5.0
lxml==4.9.1

# Image draw
pillow==9.0.0
