<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Веб портал - Кирсанова Данила Олеговича{% endblock title %}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link id=canon rel="canonical" href="http://www.example.com/">
  
  {% load static %}
  
  {% block extra_meta %}

  {% endblock extra_meta %}
  
  {% block link %}
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=ru">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <!-- Required styles for Material Web -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock link %}

  {% block extra_link %}
  {% endblock extra_link %}

</head>

<body>

  {% include 'base/include/html/atom/message.html' %}
  {% block body %}
  
  <div class="mdl-layout__container">
    
  {% block style %}
    {% include 'base/include/css/styles.css.html' %}
  {% endblock style %}
  
  {% block extra_style %}
  {% endblock extra_style %}

  <div class="mdl-layout">

  <!-- Раскладка -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <!-- Header -->
    {% block header %} 
      {% include 'base/include/html/molecule/header.html' %}
    {% endblock header %}

    <!-- Drawer -->
    {% block drawer %}
      {% include 'base/include/html/atom/drawer.html' %}
    {% endblock drawer %}
    
      <main class="android-content mdl-layout__content"> 
        <!-- Content -->
        {% block content %}

        {% endblock content %}
      </main>
      
    </div>
    
  </div>
  {% include 'base/include/html/atom/footer.html' %}
</div>
  


  <!-- Java Script -->
    <script src="https://code.getmdl.io/1.2.1/material.min.js"> </script>
    <script src="{% static 'curiosity/js/render/canonicalLink.js' %}"
    {% include 'base/include/js/vk.js.html' %}
    {% include 'base/include/js/metrika.js.html' %}

  {% block optional_javascript %}
  {% endblock optional_javascript %}

  {% endblock body %}
</body>

</html>