{% load post_iter_tags %}


<nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--4-col">
    
    {% with object as post %}
  

        {% if post|post_previous is not None %}

          <a href="/curiosity/posts/{{ post|post_previous }}" class="demo-nav__button">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
              <i class="material-icons">arrow_back</i>
            </button>
            Предъидущая статья
          </a>
        {% else %}

        {% endif %}

        {% if post|post_next is not None %}

          <a href="/curiosity/posts/{{ post|post_next }}" class="demo-nav__button">
            Следующая статья
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
              <i class="material-icons">arrow_forward</i>
            </button>
          </a>
        
        {% else %}

        {% endif %}


    {% endwith %}
        

  </nav>